In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
test_data= pd.read_table('test.csv', sep= ',')
test_data.head()

   Store  Dept      Date IsHoliday  SalesForecast
0      1     1  4-May-16     False            NaN
1      1     2  4-May-16     False            NaN
2      1     3  4-May-16     False            NaN
3      1     4  4-May-16     False            NaN
4      1     5  4-May-16     False            NaN

In [4]:
features= pd.read_table('features.csv', sep= ',')
features.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday
0,1,5-Feb-14,5.73,2.572,211.096358,8.106,False
1,2,5-Feb-14,4.55,2.572,210.752605,8.324,False
2,3,5-Feb-14,7.62,2.572,214.424881,7.368,False
3,4,5-Feb-14,6.53,2.598,126.442065,8.623,False
4,5,5-Feb-14,4.28,2.572,211.653972,6.566,False

In [6]:
count= 0
temp, fuel_price, cpi, unemp= [],[],[],[]
for elt in test_data['Store']:
    if (elt == features['Store'][count]):
        temp.append(features['Temperature'][count])
        fuel_price.append(features['Fuel_Price'][count])
        cpi.append(features['CPI'][count])
        unemp.append(features['Unemployment'][count])
    else:
        count+= 1
        temp.append(features['Temperature'][count])
        fuel_price.append(features['Fuel_Price'][count])
        cpi.append(features['CPI'][count])
        unemp.append(features['Unemployment'][count])

In [7]:
len(temp), test_data.shape

(153805, (153805, 5))

In [8]:
test_data['Temperature']= temp
test_data['CPI']= cpi
test_data['Fuel_Price']= fuel_price
test_data['Unemployment']= unemp

In [9]:
test_data.head()

,Store,Dept,Date,IsHoliday,SalesForecast,Temperature,CPI,Fuel_Price,Unemployment
0,1,1,4-May-16,False,NaN,5.73,211.096358,2.572,8.106
1,1,2,4-May-16,False,NaN,5.73,211.096358,2.572,8.106
2,1,3,4-May-16,False,NaN,5.73,211.096358,2.572,8.106
3,1,4,4-May-16,False,NaN,5.73,211.096358,2.572,8.106
4,1,5,4-May-16,False,NaN,5.73,211.096358,2.572,8.106

In [11]:
store_data= pd.read_table('stores.csv', sep= ',')
store_data.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [14]:
type_, size= [],[]
for elt in test_data['Store']:
    type_.append(store_data['Type'][elt-1])
    size.append(store_data['Size'][elt-1])
    
len(type_)

153805

In [15]:
test_data['Type']= type_
test_data['Size']= size
test_data.head()

,Store,Dept,Date,IsHoliday,SalesForecast,Temperature,CPI,Fuel_Price,Unemployment,Type,Size
0,1,1,4-May-16,False,NaN,5.73,211.096358,2.572,8.106,A,151315
1,1,2,4-May-16,False,NaN,5.73,211.096358,2.572,8.106,A,151315
2,1,3,4-May-16,False,NaN,5.73,211.096358,2.572,8.106,A,151315
3,1,4,4-May-16,False,NaN,5.73,211.096358,2.572,8.106,A,151315
4,1,5,4-May-16,False,NaN,5.73,211.096358,2.572,8.106,A,151315

In [18]:
import pickle

with open('test_data.pkl', 'wb') as f:
    pickle.dump(test_data,f)